
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* Reset e Estilos Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', Helvetica, sans-serif;
    
}

body {
   width: 100vw;
    height: 100vh;
    background-color: #FFDAB9;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px; /* Adiciona um respiro nas bordas da tela */
    
    
}
 

/* Container principal que organiza os dois blocos */
#formulario-main {
    display: flex;
    flex-direction: column; /* Coloca um bloco EM CIMA do outro */
    align-items: center;    /* Centraliza os dois blocos na horizontal */
    gap: 2px;              /* Cria o espaço de 20px entre o bloco preto и o branco */
    width: 100%;            /* Ocupa a largura para centralizar corretamente */
    max-width: 450px;       /* Define a largura máxima dos blocos */
    
}

/* Bloco da Logo */
.logo-container-externo {
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 15px;
    width: 600px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 300px; 
}

#logo-externa {
    
    max-width: 100%;     /* Garante uma pequena margem dos lados */
    max-height: 100%;    /* Garante uma pequena margem em cima/baixo */
    height: auto;       /* Mantém a proporção da imagem correta */
    width: auto;        /* Deixa a largura se ajustar automaticamente */


}

/*Quadrado branco*/
.principal {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%; /* Ocupa 100% da largura do #formulario-main */
    display: flex;
    justify-content: center; /* Centraliza o form dentro dele */
    
}
/* Todo o Texto dentro do Quadrado branco*/
.tela-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* "LOGIN/CADASTRO" */
h1 {
    padding-bottom: 20px;
    font-size: 40px;
}
/* EMAIL/SENHA/ETC*/
label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
/* AREA QUE ESCREVE*/
input {
    background-color: #FFDAB9;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
}
/* botao de login*/
#cad-buton {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s all;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}/* "Não tem conta/ já possui conta*/
h6{
    font-size: 13px;
}
#cad-buton:hover {
    background-color: #FFDAB9;
}

input::placeholder {
    color: #0000009b;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}
