/* propriedadeess  */

/* CODIGO DO BRUNO E GABRIEL */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
   width: 100%; 
   height: 180px; 
    padding-bottom: 20px; 
   background: linear-gradient(rgb(235, 229, 229), rgb(252, 252, 252)),
    center ;
    
    
  
    
}



body {
    width: 100%;
    
}
 #cabecalho {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}   


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

li {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(10, 3, 3);
}
.link-login{
    text-decoration: none;
    color:#8f5624ec;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFDAB9;
} */

/* Class  e id's */

/* #logo {
    width: auto;
    margin: auto;
    padding: 0;
    height: 120px;
    
   
  
}

.principal {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#cad-buton {
    width: 200px;
    
}




a{
 color: rgba(3, 3, 3, 0.801);
} */



/* CÓDIGO DO THIAGO */


/* IMPORTANDO UMA FONTE MANEIRA DO GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(10, 3, 3);
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

#logo {
    height: 150px;
}

#cabecalho {
    border: 1px solid red;
    
    /* pra deixar flexível */
    display: flex;
    
    /* faz o espaçamento jogando um pra cada lado 
    
    */
    justify-content: space-between;

    /* alinha todos os itens VERTICALMENTE (DE CIMA PRA BAIXO COM O CENTER CENTRALIZA) */
    align-items: center;
}


/* A classe (.) serve para ser colocada em várias partes do código, então essa seria pra todos os títulos (h1, h2, h3) */
.destaque-titulo {
    /* se não for a Montserrat que é uma fonte específica, vai pra sans-serif que tem em todos os pc's */
    font-family: Montserrat,  sans-serif;

    color: pink;
}